# Time Series

In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

## Date and Time Data Types and Tools

In [3]:
from datetime import datetime
now = datetime.now()
print(now)
#datetime have attribute year, month, day
print(now.year, now.month, now.day)

2018-07-30 08:59:44.530787
2018 7 30

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
print(delta) # compute the time different
print(delta.days) # compute the different in term of date
print(delta.seconds) # get the different in term of second

926 days, 15:45:00
926
56700

In [5]:
#what is the different between noram subtraction and timedelta
#subtract of plus with timedelta() will the turn the actual date not the difference
from datetime import timedelta
start = datetime(2011, 1, 7)
print(start + timedelta(12))
print(start - 2 * timedelta(12))

2011-01-19 00:00:00
2010-12-14 00:00:00

## Converting Between String and Datetime

In [6]:
stamp = datetime(2011, 1, 3)
print(str(stamp)) 
stamp.strftime('%Y-%m-%d') #format how to print a datetime datatype in string.

2011-01-03 00:00:00

'2011-01-03'

In [7]:
value = '2011-01-03' # this is a string.
print(datetime.strptime(value, '%Y-%m-%d'))
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs] #list operations

2011-01-03 00:00:00

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [8]:
from dateutil.parser import parse
parse('2011-01-03') # using parse to get

datetime.datetime(2011, 1, 3, 0, 0)

In [9]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [10]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [11]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [12]:
idx = pd.to_datetime(datestrs + [None])
print(idx)
print(idx[2])
print(pd.isnull(idx))

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)
NaT
[False False  True]

## Time Series Basics

In [13]:
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [14]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [15]:
ts + ts[::2]

2011-01-02   -0.409415
2011-01-05         NaN
2011-01-07   -1.038877
2011-01-08         NaN
2011-01-10    3.931561
2011-01-12         NaN
dtype: float64

In [16]:
ts.index.dtype

dtype('<M8[ns]')

In [17]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [18]:
print(stamp)

2011-01-02 00:00:00

## Indexing, Selection, Subsetting

In [19]:
stamp = ts.index[2]
ts[stamp] #subsetting one element

-0.51943871505673811

In [20]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
print(longer_ts)
longer_ts['2001'] #subsetting by year of the datetime index.

2000-01-01    0.092908
2000-01-02    0.281746
2000-01-03    0.769023
2000-01-04    1.246435
2000-01-05    1.007189
2000-01-06   -1.296221
2000-01-07    0.274992
2000-01-08    0.228913
2000-01-09    1.352917
2000-01-10    0.886429
                ...
2002-09-17   -0.139298
2002-09-18   -1.159926
2002-09-19    0.618965
2002-09-20    1.373890
2002-09-21   -0.983505
2002-09-22    0.930944
2002-09-23   -0.811676
2002-09-24   -1.830156
2002-09-25   -0.138730
2002-09-26    0.334088
Freq: D, dtype: float64

2001-01-01    1.599534
2001-01-02    0.474071
2001-01-03    0.151326
2001-01-04   -0.542173
2001-01-05   -0.475496
2001-01-06    0.106403
2001-01-07   -1.308228
2001-01-08    2.173185
2001-01-09    0.564561
2001-01-10   -0.190481
                ...
2001-12-22    0.000369
2001-12-23    0.900885
2001-12-24   -0.454869
2001-12-25   -0.864547
2001-12-26    1.129120
2001-12-27    0.057874
2001-12-28   -0.433739
2001-12-29    0.092698
2001-12-30   -1.397820
2001-12-31    1.457823
Freq: D, dtype: float64

In [21]:
longer_ts['2001-05'] #subsetting by year and month.

2001-05-01   -0.622547
2001-05-02    0.936289
2001-05-03    0.750018
2001-05-04   -0.056715
2001-05-05    2.300675
2001-05-06    0.569497
2001-05-07    1.489410
2001-05-08    1.264250
2001-05-09   -0.761837
2001-05-10   -0.331617
                ...
2001-05-22    0.503699
2001-05-23   -1.387874
2001-05-24    0.204851
2001-05-25    0.603705
2001-05-26    0.545680
2001-05-27    0.235477
2001-05-28    0.111835
2001-05-29   -1.251504
2001-05-30   -2.949343
2001-05-31    0.634634
Freq: D, dtype: float64

In [22]:
ts[datetime(2011, 1, 7):] #subsetting with datetime index range.

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64

In [23]:
ts['1/6/2011':'1/11/2011'] #m%d%y

2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
dtype: float64

In [24]:
ts.truncate(after='1/9/2011') #m%d%y

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
dtype: float64

In [26]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])
print(long_df)
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2000-01-05 -0.066748  0.838639 -0.117388 -0.517795
2000-01-12 -0.116696  2.389645 -0.932454 -0.229331
2000-01-19 -1.140330  0.439920 -0.823758 -0.520930
2000-01-26  0.350282  0.204395  0.133445  0.327905
2000-02-02  0.072153  0.131678 -1.297459  0.997747
2000-02-09  0.870955 -0.991253  0.151699  1.266151
2000-02-16 -0.202469  0.050718  0.639869  0.597594
2000-02-23 -0.797246  0.472879  0.522356 -0.546348
2000-03-01 -0.733537  1.302736  0.022199  0.364287
2000-03-08 -0.922839  0.312656 -1.128497 -0.333488
...              ...       ...       ...       ...
2001-09-26 -0.374730  1.765640 -0.214612 -0.309315
2001-10-03  0.359124  0.787222 -0.299719 -0.501940
2001-10-10  0.238768  0.188189 -1.118327  0.386220
2001-10-17  0.224123 -1.359184  1.093890 -1.254319
2001-10-24 -2.925113  0.654578  1.227245  0.401170
2001-10-31 -0.408796  2.152572 -1.971941 -0.582811
2001-11-07 -0.683034 -0.214185 -0.670407  0.096311
2001-11-14 -0.861900  1.120103  1.421439 -0.079464
2001-11-21  0.599116 -0.580929  1.636053  1.812750
2001-11-28 -0.761390 -0.568128  0.394473  1.069729

[100 rows x 4 columns]

            Colorado     Texas  New York      Ohio
2001-05-02  0.613842 -0.190825 -0.980411 -1.731565
2001-05-09  0.183555 -0.384865 -1.206347 -1.920361
2001-05-16  0.020459 -1.350049  0.411061  1.592783
2001-05-23  1.909133  1.755214 -0.271815  1.290008
2001-05-30 -0.232239  0.428683 -0.723039  0.390677

## Time Series with Duplicate Indices

In [27]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [28]:
dup_ts.index.is_unique

False

In [29]:
print(dup_ts['1/3/2000'])  # not duplicated
print(dup_ts['1/2/2000'])  # duplicated # 3 duplicated indices

4
2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [30]:
grouped = dup_ts.groupby(level=0) #index by level 0
print(grouped.mean())
print(grouped.count()) # count to see duplicated data point by index.

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32
2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## Date Ranges, Frequencies, and Shifting

In [32]:
print(ts)
resampler = ts.resample('D') #just like groupby but for datetime index.
print(resampler)

2011-01-02   -0.204708
2011-01-05    0.478943
2011-01-07   -0.519439
2011-01-08   -0.555730
2011-01-10    1.965781
2011-01-12    1.393406
dtype: float64
DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

### Generating Date Ranges

In [33]:
index = pd.date_range('2012-04-01', '2012-06-01') # using pd.date_range()  to create a range of datetime value.
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [34]:
print(pd.date_range(start='2012-04-01', periods=20)) #date_range.
print(pd.date_range(end='2012-06-01', periods=20)) #date_range.

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [35]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM') #BM      business month end frequency

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [36]:
pd.date_range('2012-05-02 12:56:31', periods=5) #by default period is date

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [37]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True) #set normalize=True

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')